/*navigation*/

.header.style5 .logo .logolink {
    padding: 3px 4vw 10px 50px ;  
		margin-left:3vw;
}
.header.style5.light {
    position: fixed;
	 box-shadow: 0 0 15px 0 #888888;
}
.menu-right-content .quick_search {
    margin-right: 20vw;
}
/*content padding top*/
.row.top-padding {
    padding-top: 95px;
}
.post-content {
    margin-top: 95px;
}
@media screen and (max-width: 1500px) and (min-width: 1024px){
.header.style5 .logo .logolink {
    padding: 3px 0 10px 0 ;  
		margin-left:5px;
 
}}

@media screen and (max-width: 1240px) and (min-width: 768px){
.header .logo .logoimg {
    max-height: 40px;
}}

.post.style5 .entry-title {
    font-weight: 800;
	 
}
.secondary-holder {
    display: none;
}

 
.post.blog-post .entry-title {
    padding-bottom: 0 !important; 
    border-bottom: 1px dotted #a8a8a8;
    margin-bottom: 0 !important;
}
aside.post-bottom-meta {
    padding-top: 15px !important;
}
.menu-holder ul.sf-menu > li > a:hover

{ color:#D91C5E !important;
}

.post .post-content p a {
	border-color:#7235A2 ;
	color:#7235A2;
    box-shadow: inset 0 0 #7235A2;}
.post .post-content p a:hover{
 background-color:#fff;
border-color:#fff ;
	color:#a4286a;
    box-shadow: inset 0 0 #fff;
	
}
.post-author p, .authorpage p {
    font-size: 12px !important;
    margin-bottom: auto;
}
p {
    font-weight: 400 !important;
}

aside.share-article-vertical.share-main.hide-on-print.fixed-me.show-for-medium.is_stuck {
    display: none;
} 
 .shareaholic-share-buttons-container.shareaholic-floated {
 
	 z-index: 88 !important;}

.widget_tag_cloud a {
    display: block;
    float: left;
    margin: 2px;
    padding: 0 10px;
    border: 1px solid rgba(24, 24, 24, .05);
    font-size: 13px !important;
    line-height: 30px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
a {
    outline: none;
    color: inherit;
    text-decoration: none;
    line-height: inherit;
}

/*in article button*/
.wp-block-button__link {
	background-color: #ea99d7 !important;}

/*taboola 
.span.video-label.video-title.trc_ellipsis {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    padding: 5px 0 0;
}
  end taboola*/
 
 /* about team card*/
  .uagb-team__desc {
    padding:0 15%;
    text-align: justify;
} 
.wp-block-column { 
    border: 1px solid rgba(0,0,0,.1);
}
.uagb-team__social-icon-wrap {
    display: none !important;
}

.apester-layout{padding:5%;} 

/*grids*/
.style5-block-grid>.columns {
     border: 2px solid #d3d3d3; 
}


img.attachment-goodlife-latest-2x.size-goodlife-latest-2x.wp-post-image {
    max-height: 350px;
} 

.post-content{margin-top:95px;}

.max-width-280{max-width:280px;}

#onesignal-popover-container #onesignal-popover-dialog .popover-body-icon img {
    max-width: 80px !important;
    height: auto !important;
    padding-top: 20%;
}

li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-39162.menu-item-mega-parent.menu-item-category-28678 {
	background:#e43f1c;
	padding: 0 10px;
	color:#fff;
}
 #menu-navigation-1 > li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-39162.menu-item-mega-parent.menu-item-category-28678 > a:hover{
	 color:#000 !important;
}

